/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/*--------------------*/

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #00a789;
    border-radius: 0px 0px 1rem 1rem;
    align-items: center;
    padding: 10px 0;
}

content {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    flex-direction: column;
}

.nav-link {
    color: #00a789;
}

.nav-link:hover {
    color: #ffffff;
    background-color: #00a789;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: #e67817;
}


/*footer*/

#footer {
    height: 25px;
    background-color: #e67817;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    text-align: center;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e67817;
    border-radius: 1rem;
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0
}

.card {
    min-width: 390px;
    width: 390px;
    margin: 5px;
}

.card_list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 5px;
    flex-wrap: wrap;
    align-items: baseline;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 12pt;
    border: 1px solid lightgray;
}

.list-item ul {
    margin: 0px;
}

.telephone-number {
    color: #00a789;
    font-size: 12pt;
}

.telephone-number:hover {
    color: #e67817
}

.card_list_corporate {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 5px;
    flex-wrap: wrap;
    align-items: baseline;
}

.list-item-corporate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 12pt;
    border: 1px solid lightgray;
}